.aboutContainer {
    position: relative;
    font-family: "Roboto Mono", serif;
    width: 40%;
    margin: 40px auto;
    padding: 20px;
    color: rgb(226, 226, 226);

    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    flex-wrap: wrap;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.aboutContainer:hover {
    transform: scale(1.1);
    cursor: default;
}

.location {
   font-size: 20px;
   margin-bottom: 10px;
   color: rgb(155, 154, 154);
}

.topRow{
    font-family: "Roboto", serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.iconContainer {
    display: flex;
    gap: 14px;
}

.iconContainer a {
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    display: flex;
    padding: 6px;

    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.iconContainer a:hover {
    transform: scale(1.1);
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    margin-top: 23px;
}

.aboutButton {
    position: relative;
    font-family: "Roboto Mono", serif;
    color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid rgb(82, 82, 82);
    padding: 10px;
    border-radius: 10px;

    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.aboutButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Tech Stack */

.TechStack {
    width: 40%;
    margin: auto;
    font-family: "Roboto Mono", serif;
    justify-content: space-between;
    color: rgb(226, 226, 226);
    display: flex;
}

.TechStackList {
    display: flex;
    list-style: none;
    color: rgb(226, 226, 226);
    gap: 30px;
    font-size: 1rem;
}

.TechStackList li {
    display: flex;
    gap: 2px;
    align-items: center;

    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.TechStackList li:hover {
    transform: scale(1.1);
    cursor: default;
}

.TechStackHeader {
    font-family: "Roboto", serif;
    font-size: 1.5rem;
}

/* Experience  */

.Experience {
    width: 40%;
    margin: 40px auto;
    font-family: "Roboto Mono", serif;
    color: rgb(226, 226, 226);
}

.ExperienceType {
    font-size: 1.5rem;
    background: transparent;
    font-family: "Roboto", serif;
    margin-top: -4px;
}

.ExperienceHeader {
    font-family: "Roboto", serif;
    font-size: 2.6rem;
}

.ExperienceList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    position: relative;
}

.ExperienceItemWrapper {
    display: flex; 
    gap: 30px; 
    align-items: center;
    position: relative;
    width: 100%;
    margin-left: 92px;
}
.ExperienceArrow {
    flex-shrink: 0;
    align-self: center;
    color: rgb(226, 226, 226);
}

.ExperienceList li {
    padding: 20px;
    width: 80%;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    background-color: rgba(1, 4, 9); 
}

.ExperienceItemWrapper:last-child .ExperienceItem {
    padding: 20px;
    width: 80%;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    background: transparent;
}

.Experience ul li {
    list-style: none;
}

.ExperienceDate {   
    color: rgb(155, 154, 154);
    font-size: 0.7rem;
    margin-bottom: 10px;
    background: transparent;
}

.ExperienceInfo {
    font-size: 0.75rem;
    text-align: justify;
    margin-bottom: 0px;
    background: transparent;
}

.ExperienceItem {
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.ExperienceItem:hover {
    transform: scale(1.03);
}